@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    b{
        font-weight: 900;
    }
}

:root {
    --blanco: #e0e0de;
    --negro: #383838;
    --gris: #dddbd9;
    --grisMid: #8a8a8a;
    --grisOs: #63605f;
    --verdeSage: #ac4a1a;
    
    --grisOs_RESPALDO: #787A75;
}
  
::selection {
    background-color: var(--verdeSage);
    color: var(--blanco);
  }

.dark {
    --blanco: #161616;
    --negro: #cfcfcf;
    --gris: #131313;
    --grisMid: #555555;
    --grisOs: #b4afb8;
    --verdeSage: #8a7ad4;
}

  